*{
  text-decoration: none !important;
}


nav {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 75px;
  margin-top: -40px;
  padding-top: 20px;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  float: left;
  transition: 0.75s;
  padding: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: #ffffff;

}

nav > ul > li:not(.nicht-animieren);(.download):hover {
  background-color: lightslategray; 
  color:white;
} 

nav > ul > li > a > img {
  height: 50px;
  margin-top: -20px;
}

.game {
  display: flex;
  gap: 20px;
  margin: 30px;
  width: 1600px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgb(42,71,94);
  background: linear-gradient(90deg, rgba(42,71,94,1) 0%, rgba(0,212,255,1) 100%);
}

.game > img {
  width: 200px !important; 
  height: 140px;
}
.game > div {
  color: #ffffff;
}

.game > div > strong {
  font-size: larger;
  color: red;
}

.padder {
  padding: 40px;
}

.games{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
}

.topnav{
  background: rgb(23,26,33);
  background: radial-gradient(circle, rgba(23,26,33,1) 22%, rgba(55,67,84,1) 100%);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(27,40,56);
  background: linear-gradient(90deg, rgba(27,40,56,1) 28%, rgba(42,71,94,1) 100%);
}

.dailygame {
  display: flex;
  gap: 20px;
  margin-top: 200px;
  width: 1600px !important;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgb(42,71,94);
  background: linear-gradient(90deg, rgba(42,71,94,1) 0%, rgba(0,212,255,1) 100%);
}

.dailygame > div > strong {
  font-size: larger;
  color: red;
}

.dailygame > div {
  color: #ffffff;
}