nav {
  background-color: white;
  position: fixed;
  width: 100vw;

  margin-top: -40px;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  float: left;
  transition: 0.75s;
  padding: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;

}

nav > ul > li:not(.nicht-animieren):hover {
  background-color: lightslategray; 
  color:white;
} 

body {
  margin: 0;
}

.game {
  display: flex;
  gap: 20px;
  margin: 30px;
  width:80%;

  padding-top: 40px;
}

.game > img {
  height: 200px;
}

.game > div > strong {
  font-size: larger;
  color: red;
}

button {
  
}