nav {
  background-color: white;
  position: fixed;
  width: 100vw;

  margin-top: -40px;
  padding-top: 20px;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  float: left;
  transition: 0.75s;
  padding: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;

}

nav > ul > li:not(.nicht-animieren):hover {
  background-color: lightslategray; 
  color:white;
} 

body {
  margin: 0;
}

.game {
  display: flex;
  gap: 20px;
  margin: 30px;
  width:80%;

  border: 2px solid grey;
  background-color: #f5f5f5;
}

.game > img {
  width: 200px;
  height: 140px;
}

.game > div > strong {
  font-size: larger;
  color: red;
}

button {
  
}

.padder {
  padding: 40px;
}
.games{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.topnav{
  background-color:gray;
}