nav {
  background-color: white;
  position: fixed;
  padding-bottom: 30px;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  float: left;
  transition: 0.75s;
  padding: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;

}

nav > ul > li:not(.nicht-animieren):hover {
  background-color: lightslategray; 
  color:white;
} 

body {
  margin: 0;
}